<div class="module cta-home">
    
    <img class="mw-100" src="{{TimberImage(module.image).src|resize(1440,960,'left')}}">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 offset-md-3 cta-content">
                <h2>{{module.heading}}</h2>
                <p>{{module.copy}}</p>
                {% if module.link %}
                <a class="btn btn-light" href="{{module.link.url}}" target="{{module.link.target}}">{{module.link.title}}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>