<div class="module cta-group">
    <div class="container">

        {% if module.heading %}
        <div class="row">
            <div class="col">
                <h2>{{module.heading}}</h2>
            </div>
        </div>
        {% endif %}

        <div class="row justify-content-md-center">
        
            {% for cta in module.cta_group %}
                
                <div class="col-md-6 col-lg-3 cta">
                
                    {% if cta.image %}
                        {% if cta.link %}
                        <a href="{{cta.link.url}}" target="{{cta.link.target}}">
                        {% endif %}
                            <img src="{{TimberImage(cta.image).src|resize(1000,555)}}" class="card-image-top cta-image mw-100">
                        {% if cta.link %}
                        </a>
                        {% endif %}
                    {% endif %}

                    <div class="row no-gutters cta-content">
                        <div class="col-10 offset-1">
                            {% if cta.heading %}

                                <h3>

                                {% if cta.link %}
                                    <a href="{{cta.link.url}}" target="{{cta.link.target}}">
                                {% endif %}

                                {{cta.heading}}

                                {% if cta.link %}
                                    </a>
                                {% endif %}

                                </h3>

                            {% endif %}

                            {% if cta.copy %}
                                <p>{{cta.copy}}</p>
                            {% endif %}

                        
                            {% if cta.link %}
                                <a class="special special-right" href="{{cta.link.url}}" target="{{cta.link.target}}">{{cta.link.title}}</a>
                            {% endif %}
                        </div>
                    </div>  

            </div>

            {% endfor %}
            
        </div>
</div>
</div>