<div class="module cta-pair">
    <div class="container">

        {% if module.heading %}
        <div class="row">
            <div class="col">
                <h2>{{module.heading}}</h2>
            </div>
        </div>
        {% endif %}

        <div class="row">

            {% for cta in module.cta_pair %}
            <div class="col-md-12 col-lg-6 cta">
                <img src="{{TimberImage(cta.image).src|resize(1000,555)}}" class="card-image-top cta-image"> 

                <div class="row no-gutters cta-content">
                    <div class="col-10 offset-1">
                        <h3>{{cta.heading}}</h3>
                        <p>{{cta.copy}}</p>
                        <a class="btn btn-primary" href="{{cta.link.url}}" target="{{cta.link.target}}">{{cta.link.title}}</a>
                    </div>
                </div>             
            </div>
            {% endfor %}

        </div>

    </div>
</div>  