{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

	<div id="google_translate_element"></div>

	<script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
		}
	</script>
	
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

			<div class="container">
				<header class="header" role="banner">
					{% block header %}
					<div class="row">
						<div class="col-md-6">
							<h1 role="banner" class="h2">
								<a href="{{site.url}}" rel="home">{{site.name}}</a>
							</h1>
						</div>
						<div class="col-md-6 text-right">
							<nav role="navigation" class="header-secondary">
								{% include 'menu.twig' with {'menu': header_secondary.get_items, 'ul_class': 'list-inline', 'li_class': 'list-inline-item'} %}
							</nav>
							<nav role="navigation" class="header-primary">
								{% include 'menu.twig' with {'menu': header_primary.get_items, 'ul_class': 'list-inline', 'li_class': 'list-inline-item'} %}
							</nav>
						</div>
					{% endblock %}
				</header>
			</div>

			
				
				<main class="main" role="main">
					{% if menu_items %}
					<div class="menu-items">
						<div class="container">
							<ul class="list-inline">
								{% for item in menu_items %}
								<li class="list-inline-item {{item.id == current ? 'current'}}"><a href="{{item.link}}">{{item.name}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% endif %}

					{% if title %}
					<div class="container">
						<h1 class="title">{{title}}</h1>
					</div>
					{% endif %}

					{% block content %}
					Sorry, no content
					{% endblock %}
					
				</main>

				{% block footer %}
					<footer class="footer" role="contentinfo">
						<div class="container">
							{% include 'footer-primary.twig' %}
							{% include 'footer-secondary.twig' %}
						</div>
						{% include 'footer-tertiary.twig' %}
					</footer>
					{{ function('wp_footer') }}
				{% endblock %}
			
		
	</body>
</html>