{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

	{% include 'partial/colors.twig' %}

	<div id="google_translate_element"></div>

	<script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
		}
	</script>
	
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

	{% if options.announcement %}
	<div class="alert alert-dismissible fade show" role="alert">
		<p><span>Announcement:</span> {{options.announcement}}</p>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}

			

				<header class="header" role="banner">
					{% block header %}
						<div class="row">
							<div class="col-md-3">
								<h1 role="banner" style="padding-left: 20px;">
										<a href="{{site.url}}" rel="home" title="{{site.name}}">
											{% if options.header_logo %}
												{% set logo = TimberImage(options.header_logo) %}
												<img src="{{logo.src}}" alt="{{logo.alt}}">
											{% else %}
												{{site.name}}
											{% endif %}
										</a>
									</h1>
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-12">
										<nav role="navigation" class="header-menu header-menu-secondary">
											{% include 'menu.twig' with {'menu': header_secondary.get_items, 'search': true} %}
										</nav>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9 offset-md-3">
										<nav role="navigation" class="header-menu header-menu-primary">
											{% include 'menu.twig' with {'menu': header_primary.get_items} %}
										</nav>
									</div>
								</div>
							</div>
						</div>
					{% endblock %}
				</header>

			

			
				
				<main class="main" role="main">
					{% if menu_items %}
					<div class="sub-menu">
						<div class="container">
							<ul>
								{% for item in menu_items %}
								<li class="{{item.id == current ? 'current-sub-menu-item'}}"><a href="{{item.link}}">{{item.name}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% endif %}

					{% if title %}
					<div class="title-band">
						<div class="container">
							<div class="row">
								<div class="col-md-6">
									<h1 class="title">{{title}}</h1>
								</div>
							</div>
						</div>
					</div>
					{% endif %}

					{% block content %}
					Sorry, no content
					{% endblock %}
					
				</main>

				{% block footer %}
					<footer class="footer" role="contentinfo">
						<div class="container">
							{% include 'footer-primary.twig' %}
						</div>
						{% include 'footer-tertiary.twig' %}
					</footer>
					{{ function('wp_footer') }}
				{% endblock %}
			
		
	</body>
</html>