<div class="row footer-primary">
    <div class="col-10 offset-1 col-md-4 offset-md-0">
        <div class="footer-primary-content footer-contact">
            <ul>

                {% if options.location %}
                {% set google_map_url = options.location.google_map_url %}

                <li>

                {{google_map_url ? '<a href="'~google_map_url~'" target="_blank">' }}

                    {% if options.location.address_line_1 %}
                    {{options.location.address_line_1}}<br>
                    {% endif %}

                    {% if options.location.address_line_2 %}
                    {{options.location.address_line_2}}<br>
                    {% endif %}

                    {% if options.location.city %}
                    {{options.location.city}},
                    {% endif %}

                    {% if options.location.state %}
                    <abbr title="{{options.location.state.label}}">{{options.location.state.value}}</abbr>
                    {% endif %}

                    {% if options.location.zip %}
                    {{options.location.zip}}
                    {% endif %}

                {{options.location.google_map_url ? '</a>' }}

                </li>
                {% endif %}

                {% if options.email %}
                <li><a href="mailto:{{options.email}}">{{options.email}}</a></li>
                {% endif %}

                {% if options.phone %}
                <li><a href="tel:{{options.phone}}">{{options.phone}}</a></li>
                {% endif %}

                {% if options.social_media %}
                    {% for channel in options.social_media %}
                    <li class="footer-contact-social"><a href="{{channel.url}}" target="_blank">{{channel.copy}}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-10 offset-1 col-md-4 offset-md-0">
        <div class="footer-primary-content footer-primary-menu">
            {% include 'menu.twig' with {'menu': footer_primary.get_items,} %}
        </div>
    </div>
    <div class="col-10 offset-1 col-md-4 offset-md-0">
        <div class="footer-primary-content footer-secondary-menu">
            {% include 'menu.twig' with {'menu': footer_secondary.get_items,} %}
        </div>
    </div>
</div>