{% extends "base.twig" %}

{% block content %}
	
<div class="container">

	<div class="row">

		<div class="col-lg-7 sidebar-content">

			{% if post.categories %}
			<div class="row">
				<div class="col">
					<ul class="post-breadcrumbs">
						{% for category in post.categories %}
						<li><a href="{{category.link}}">{{category.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}

			<div class="row">
				<div class="col">
					<h2 class="post-title">{{post.name}}</h2>
					<p class="post-date">{{post.date}}</p>
				</div>
			</div>

			{% if post.thumbnail %}
			<div class="row">
				<div class="col-md-8">
					<img class="post-thumbnail" src="{{post.thumbnail.src|resize(800, 500, 'center')}}">
				</div>
			</div>
			{% endif %}

			<div class="row">
				<div class="col">
					<article class="post">
						<div class="post-content">

							{{post.content}}

							{% if post.get_field('modules') %}
								{% for module in post.get_field('modules') %}
									{% include 'partial/module.twig' %}
								{% endfor %}
							{% endif %}

						</div>
					</article>
					<a class="special special-left" href="/news">Back to All News</a>
				</div>
			</div>

		</div> <!-- /.col-lg-7 -->

		<div class="col-md-6 col-lg-3 offset-lg-1 sidebar-sidebar">
			{{sidebar}}
		</div> <!-- /.col-lg-3 -->

	</div> <!-- /.row -->

</div>
	
{% endblock %}